@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@layer utilities {
  .animate-shimmer {
    animation: shimmer 2s infinite;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}